# ==========================================
# Объектные и промежуточные файлы сборки
# ==========================================
*.o
*.obj
*.a
*.so
*.dylib

# ==========================================
# Исполняемые файлы в Linux
# ==========================================

# Если бинарники создаются прямо в корне или подпапках,
# игнорируем файлы БЕЗ расширения, имеющие флаг исполнения (игнорирует все бинарники)
*
!*.*
!**/
!.gitignore
!*.cpp
!*.c
!*.h
!*.hpp
!Makefile
!CMakeLists.txt
!README.md