# Игнорируем бинарники и исполняемые файлы (без расширений в Linux/macOS)
# и с расширениями для Windows
C++11/*
!C++11/*.cpp
!C++11/*.hpp
!C++11/*.h
!C++11/*.cxx
!C++11/CMakeLists.txt
!C++11/.gitignore

# Игнорируем временные и объектные файлы по всему проекту
*.o
*.obj
*.exe
*.out
*.app
*.so
*.a
*.dylib

# Папки сборки и системные файлы
build/
.vscode/
.idea/
.DS_Store
